body{
    background-color: green;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 550px;
    height: 330px;
    margin: 300px;
    background-color: whitesmoke;
    
}
input{
    color: #4CAF50;
    padding-left: 10px;
}
.section{
    width: 300px;
    height: 50px;
    margin-left: 120px;
    font-size: 12px;
}
.btn{
    width: 316px;
    background-color: green;
    color: whitesmoke;
    font-size: 12px;
    -webkit-transition: all 0.3 ease;
    transition: all 0.6 ease;
    cursor: pointer;
}
a{
    color: green;
    text-decoration: none;
}
p{
    text-align: center;
}